body {
    background: #1b1c1e url(/img/body_bg.png) 50% 0 repeat-y;
    background-color: black;
    text-align: left;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1em;
    color: #AAA;
    margin: 0;
    text-shadow: #000 1px 1px 1px;
}

#cr-stage {
  margin: 0 auto;
  border:2px solid #333;
}

#instructions {
  margin: 10px 0px;
}

#dude-canvas {
  position: absolute;
  z-index: 10;
  background-color: white;
  opacity: 0;
  cursor: crosshair;
}
#game-over {
  font-size: 40pt;
  line-height: 300px;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 20;
  display: none;
  position: absolute;
}
#game-over-score {
  color: "#373737";
  font-size: 30pt;
  line-height: 400px;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 20;
  display: none;
  position: absolute;
}
#wave-indicator {
  font-size: 32pt;
  font-weight: bold;
  line-height: 300px;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
  color: yellow;
  z-index: 15;
  position: absolute;
  display: none;
}
.strobe {
  border: 2px solid gray;
  width: 64px;
  height: 64px;
  background-color: black;
  float: left;
  display: none;
}

audio {
  display: block;
  margin: 15px auto;
}
footer {
  color: #474747;
  font-size: 0.6em;
  text-align: center;
}
