body {
    background: #1b1c1e url(/img/body_bg.png) 50% 0 repeat-y;
    background-color: black;
    text-align: left;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1em;
    color: #AAA;
    margin: 0;
    text-shadow: #000 1px 1px 1px;
}
header {
  padding-top: 30px;
}
#cr-stage {
  margin: 0 auto;
  border:2px solid #333;
}

#instructions {
  margin: 10px 0px;
}

#dude-canvas {
  position: absolute;
  z-index: 40;
  background-color: white;
  cursor: crosshair;
  opacity: 0;
}
#intro-page {
  font-size: 12pt;
  width: 800px;
  display: none;
  position: absolute;
  z-index: 50;
  text-align: center;
}
#intro-page h3 {
  color: white;
  font-size: 2em;
}
#intro-instructions {
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  text-align: left;
  color: #e7e7e7;
}
#intro-page ul {
}
button#play-button {
  color: white;
  background-color: #171717;
  border-radius: 6px;
  font-size: 20pt;
  font-weight: bold;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border: 3px solid #2f2f2f;
  text-align: middle;
  z-index: 50;
}
button#play-button:hover {
  background-color: #272727;
}
button#play-button:active {
  background-color: #474747;
}
#game-over {
  font-size: 40pt;
  line-height: 300px;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 45;
  display: none;
  position: absolute;
}
#game-over-score {
  color: "#373737";
  font-size: 30pt;
  line-height: 400px;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 45;
  display: none;
  position: absolute;
}
#wave-indicator {
  font-size: 32pt;
  font-weight: bold;
  line-height: 300px;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
  color: yellow;
  z-index: 15;
  position: absolute;
  display: none;
}
#unsupported {
  font-size: 16pt;
  font-weight: bold;
  line-height: 300px;
  margin-left: 100px;
  width: 600px;
  text-align: center;
  z-index: 20;
  position: absolute;
  display: none;
}
.strobe {
  border: 2px solid gray;
  width: 64px;
  height: 64px;
  background-color: black;
  float: left;
  display: none;
}

audio {
  display: block;
  margin: 15px auto;
}
footer {
  color: #474747;
  font-size: 0.6em;
  text-align: center;
}
