#canvas-dynamic {
  width: 600px;
  height: 480px;
  border: 3px solid black;
}

body {
    background: #1b1c1e url(/images/body_bg.png) 50% 0 repeat-y;
    background-color: black;
    text-align: left;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1em;
    color: #AAA;
    margin: 0;
    text-shadow: #000 1px 1px 1px;
}

#cr-stage {
  margin: 0 auto;
  border:2px solid #333;
}
.strobe {
  border: 2px solid gray;
  width: 64px;
  height: 64px;
  background-color: black;
}

audio {
  display: block;
  margin: 15px auto;
}

#soundmanager-debug{
  margin-top:100px;
}
